INSERT INTO rnacen.rnc_database
(id, "timestamp", userstamp, descr, current_release, full_descr, alive, for_release, display_name, project_id, avg_length, min_length, max_length, num_sequences, num_organisms)
VALUES({{ index }}, '2017-05-01 00:00:00.000', 'RNACEN', '{{ descr }}', 355, '{{ full_descr }}', 'Y', NULL, '{{ display_name }}', NULL, 0, 0, 0, 0, 0);
